body {
    font-family: Arial, sans-serif;
}

.titre {
    text-align: center;
    margin-bottom: 20px;
}

.panier {
    display: flex;
    flex-wrap: wrap;
    gap: 15px; /* Espace entre les items */
    justify-content: center;
}

.item {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    width: 280px; /* Ajustez la taille pour un meilleur alignement */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.product-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
}

.quantite-control {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.quantite-control button {
    margin: 0 5px;
}

.like {
    margin-top: 10px;
    cursor: pointer;
}

.total-global {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #f8f9fa;
    border-top: 1px solid #ccc;
}
